<head>
  <title>integer factorization</title>
</head>
<body>
  <h3><p align=center>Instructions for use of this integer factorizer:</p></h3>
  <p align=center>
    <a href="https://pknipp.github.io/math">
      Return
    </a>
    to the Math APIs page.
    <ul>
      <li>
        After <tt>...herokuapp.com</tt> above you should type <tt>/json/</tt> followed by your natural number.  If you want the response to be html rather than json, simply omit <tt>/json</tt> from the address.  <a href="https://en.wikipedia.org/wiki/Scientific_notation#E_notation">E-notation</a> is not allowed.  Your number must be less than 2<sup>63</sup> (which approximately equals "9" followed by 18 zeros).
      </li>
      <li>
        EXAMPLES:
        <ul>
          <li>
            359 is a prime.
          </li>
          <li>
            360 = 2<sup>3</sup>&middot;3<sup>2</sup>&middot;5
          </li>
        </ul>
      </li>
    </ul>
    <p align=center>
      creator:&nbsp;
      <a href='https://pknipp.github.io/' target='_blank' rel='noopener noreferrer'>
        Peter Knipp
      </a>
    </p>
  </p>
</body>
