<head>
  <title>integer factorization</title>
</head>
<body>
  <h3><p align=center>Instructions for use of this factorizer:</p></h3>
  <p align=center>
    <a href="https://pknipp.github.io/math">
      Return
    </a>
    to the Math APIs page.
  </p>

  <ul>
    <li>This page allows for four different types of calculations, depending upon the following pairs of circumstances:
      <ul>
        <li>
          <a href="https://en.wikipedia.org/wiki/Integer">real integers</a> vs <a href="https://en.wikipedia.org/wiki/Gaussian_integer">complex integers"</a> (AKA Gaussian integers)
        </li>
        <li>
          single integer (factorization thereof) vs list of integers (<a href="https://en.wikipedia.org/wiki/Greatest_common_divisor">greatest common divisor</a> - GCD - thereof)
        </li>
      </ul>
    <li>
      URL:
      <ul>
        <li>
          After <tt>...herokuapp.com</tt> above you should type either <tt>/complex/</tt> if you want to consider Gaussian integers or nothing if you want to consider real ones.
        </li>
        <li>
          After this you should type <tt>json/</tt> if you want the output in json or a single slash if you want the output in html.
        </li>
        <li>
          After this you should type your input, as described next.
        </li>
      </ul>
    </li>
    <li>
      Input(s):
      <ul>
        <li>
          Spaces are allowed - but discouraged - because %20 will replace each space after you hit return, thereby making the address uglier.
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Scientific_notation#E_notation">E-notation</a> is not allowed.
        </li>
        <li>
          All <a href="https://en.wikipedia.org/wiki/Real_number">real numbers</a> must be integers less than 2<sup>63</sup> in magnitude (approximately "9" followed by 18 zeros).  Exception: the limit on the number of digits in your Gaussian integer is half of this.
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Complex_number">Complex numbers</a> should be of the form <i>m</i> + <i>n</i>i, where <i>m</i> and <I>n</I> are integers as described in the previous bullet.  Standard shortcuts are allowed, such as shortening <tt>3 + 1i</tt> to <tt>3 + i</tt>, or shortening <tt>0 + 2i</tt> to <tt>2i</tt>.
        </li>
        <li>
          Use commas to separate numbers in a list, ie when determining <a href="https://en.wikipedia.org/wiki/Greatest_common_divisor">GCD</a>.
        </li>
      </ul>
    </li>
    <li>
      Factorization theorems:
      <ul>
        <li>
          <a href="https://en.wikipedia.org/wiki/Integer_factorization">real factorization</a>:
          <br/>
          Any nonzero (real) integer may be expressed uniquely as a product of &plusmn;1 and zero or more <a href="https://en.wikipedia.org/wiki/Prime_number">prime numbers</a> (e.g., 2, 3, 5, 7, 11, etc), each raised to a power of 1 or more.
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Table_of_Gaussian_integer_factorizations">complex factorization</a>:
          <br/>
          Any nonzero Gaussian integer may be expressed as a product of either &plusmn;1 or &plusmn;i, and zero or more <a href="https://en.wikipedia.org/wiki/Gaussian_integer#Gaussian_primes">Gaussian primes</a>, each raised to a power of 1 or more.  This expression is unique if the Gaussian primes are restricted to the first quadrant of the <a href="https://en.wikipedia.org/wiki/Complex_plane">complex plane</a>, including the <a href="https://en.wikipedia.org/wiki/Positive_real_numbers">positive real axis</a> but not including the positive imaginary axis in the complex plane.
        </li>
        <li>
          Whether real or complex, any nonzero integer other than &plusmn;1 or &plusmn;i is categorized as one of the following:
          <ul>
            <li>
              <a href="https://en.wikipedia.org/wiki/Prime_number">Prime</a> number contains exactly one prime factor in its factorization.
            </li>
            <li>
              <a href="https://en.wikipedia.org/wiki/Composite_number">Composite</a> number contains two or more prime factors in its factorization.  Although this definition usually is used for positive integers, it extends naturally to Gaussign integers.
            </li>
          </ul>
        </li>
        <li>
          Just as individual integers may be classified as either prime or composite, so may lists of integers be classified by their GCD: the list is <a href="https://en.wikipedia.org/wiki/Coprime_integers">relatively prime</a> (or "coprime" or "mutually prime") if their GCD equals 1, or relatively composite (or "mutually composite") if their GCD is larger than 1.
        </li>
      </ul>
    </li>
    <li>
      json output:
      <br/>
        The <tt>factors</tt> property of the json output will be a POJO/dictionary, each key for which is a different prime number, and each value for which is the power to which the particular prime is raised when forming the factorization.  For complex integers, the value of the <tt>exponent</tt> property is the power to which i should be raised when multiplying the prime factors,
    </li>
    <li>
      examples:
      <br/>
      <table border='1'>
        <tr><th>real or<br/>complex</th><th>single<br/>or list</th><th>input</th><th>result</th><th>json output</th><tr>
        <tr><td rowspan=2 style='text-align:center; vertical-align:middle'>real</td><td rowspan=5>single</td><td><tt>359</tt></td><td colspan=2>prime</td></tr>
        <tr><td><tt>360</tt></td><td>2<sup>3</sup>&middot;3<sup>2</sup>&middot;5</td><td><tt>{"2": 3, "3": 2, "5": 1}</tt></td></tr>
        <tr><td rowspan=3>complex</td><td><tt>2</tt></td><td><tt>-i(1 + i)<sup>2</sup></tt></td><td><tt>{"exponent": 3, "factors": {"1+i": 2}}</tt></td></td></tr>
        <tr><td><tt>3</tt></td><td colspan=2>prime</td></tr>
        <tr><td><tt>1 + 3i</tt></td><td><tt>(1 + i)(2 + i)</tt></td><td><tt>{"exponent": 0, "factors": {"1+i": 1, "2+i": 1}}</tt></td></tr>
        <tr><td rowspan=3>real</td><td rowspan=4>list</td><td><tt>9,12</tt></td><td colspan=2><tt>3</tt></td></tr>
        <tr><td><tt>9,10</tt></td><td colspan=2>relatively prime</td></tr>
        <tr><td><tt>8,10,12</tt></td><td colspan=2><tt>2</tt></td></tr>
        <tr><td>complex</td><td><tt>2i, -1 + 3i, 1 + 3i</tt></td><td colspan=2><tt>1 + i</tt></td></tr>
      </table>
    </li>
  </ul>
  <p align=center>
    creator:&nbsp;
    <a href='https://pknipp.github.io/' target='_blank' rel='noopener noreferrer'>
      Peter Knipp
    </a>
  </p>
</body>
