<head>
  <title>integer factorization</title>
</head>
<body>
  <h3><p align=center>Instructions for use of this factorizer:</p></h3>
  <p align=center>
    <a href="https://pknipp.github.io/math">
      Return
    </a>
    to the Math APIs page.
  </p>

    <br/>
    This page allows for three different types of calculations, each described below.

    <br/>
    general:
    <ul>

      <li>
        After <tt>...herokuapp.com</tt> above you should type <tt>/json/</tt> followed by your particular input.  Spaces are allowed - but discouraged - because %20 will replace each space after you hit return, thereby making the address uglier. <a href="https://en.wikipedia.org/wiki/Scientific_notation#E_notation">E-notation</a> is not allowed.  All numbers must be <a href="https://en.wikipedia.org/wiki/Natural_number">natural numbers</a> less than 2<sup>63</sup> (which approximately equals "9" followed by 18 zeros).  Exception: the limit on the number of digits in your Gaussian integer is half of this.
      </li>
      <li>
        If you want the response to be html rather than json, simply omit <tt>/json</tt> from the address.
      </li>
    </ul>

    <ol>
      <li>
        <a href="https://en.wikipedia.org/wiki/Greatest_common_divisor">greatest common divisor</a> (GCD):
        <ul>
          <li>
            Your input should be a bracket-enclosed list of one or more comma-separated numbers.
          </li>
          <li>
            examples:
              <table border='1'>
                <tr><th>input</th><th>result</th><tr>
                <tr><td>[9,12]</td><td>3</td></tr>
                <tr><td>[9,10]</td><td>1</td></tr>
                <tr><td>[13]</td><td>13</td></tr>
                <tr><td>[8,10,12]</td><td>2</td></tr>
              </table>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Integer_factorization">prime factorization</a> of a real integer:
        <ul>
          <li>
            Your input should simply be a number.
          </li>
          <li>
            The <tt>factors</tt> property of the json output will be an array of 2-element subarrays. The zeroth element is a prime factor, and the other is the power to which it is raised when forming the factorization.
          </li>
          <li>
            examples:
            <table border='1'>
              <tr><th>input</th><th>result</th><th>json</th></tr>
              <tr><td>359</td><td colspan="2">prime</td></tr>
              <tr><td>360</td><td>2<sup>3</sup>&middot;3<sup>2</sup>&middot;5</td><td>[[2,3],[3,2],[5,1]]</td></tr>
            </table>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Table_of_Gaussian_integer_factorizations">factorization</a> of (complex) <a href="https://en.wikipedia.org/wiki/Gaussian_integer">Gaussian integer</a>:
        <br/>
        A Gaussian integer is a complex number for which both the real- and imaginary parts are integers.  In the same way that any integer (other than +1, 0, or -1) may be expressed in a unique way as a product of either 1 or -1 and one or more prime numbers (each of which is a positive natural number), any Gaussian integer may be expressed uniquely as a product of either 1, i, -1, or -i and one or more prime Gaussian integers which are located in the first quadrant of the complex plane (including the positive real axis but not including the positive imaginary axis).
        <ul>
          <li>
            Between <tt>...herokuapp.com</tt> and <tt>/json/</tt> you should include <tt>/complex</tt>.
          </li>
          <li>
            Your complex number should be of the form <i>m</i> + <i>n</i>i, where <i>m</i> is a natural number and <I>n</I> is a whole number (ie, may be 0).
          </li>
          <li>
            In the json output, the value of the <tt>exponent</tt> property is the power to which i should be raised, when multiplying the prime factors, and the <tt>factors</tt> property is an array of 3-element subarrays, in which the first element represents the real part of the Gaussian prime, the next element is its imaginary part, and the last element is the power to which that particular Gaussian prime gets raised when forming the factorization.
          </li>
          <li>
            examples:
            <table border='1'>
              <tr><th>input</th><th>result</th><th>json</th></tr>
              <tr><td>2</td><td>-i(1 + i)<sup>2</sup></td><td><tt></tt>{"exponent": 3, "factors": [[1,1,2]]}</td></td></tr>
              <tr><td>3</td><td colspan=2>prime</td></tr>
              <tr><td>1 + 3i</td><td>(1 + i)(2 + i)</td><td><tt>{"exponent": 0, "factors": [[1,1,1], [2,1,1]]}</tt></td></tr>
            </table>
          </li>
        </ul>
      </li>
    </ol>
    <p align=center>
      creator:&nbsp;
      <a href='https://pknipp.github.io/' target='_blank' rel='noopener noreferrer'>
        Peter Knipp
      </a>
    </p>
</body>
